/*/=========================================================================================
//                        ____              _  _____
//                       / ___| _ __   ___ | ||_   _| __ ___  _   _ _ __
//                       \___ \| '_ \ / _ \| __|| || '__/ _ \| | | | '_ \
//                        ___) | |_) | (_) | |_ | || | | (_) | |_| | |_) |
//                       |____/| .__/ \___/ \__||_||_|  \___/ \__,_| .__/
//                             |_|                                 |_|
// create with figlet 
//
// Name: style.css for the header
// Comments: CSS file for AppFind
// Author: Tjark Ziehm
// Version: 0.01
// Date: 25.Dez. 2020
// CoWorkers:
//=========================================================================================

/*
* TODO: 
*/

/*/=========================================================================================
// Structure 
//=========================================================================================

/**
* Index
* @class S
* @constructor 
* @extends 
* @functions
* @useEffect s
* @return
*/ 

/*/========================================================================================= */
#nav-content[aria-expanded="true"] {
    display: block;
  }
  #nav-toggle[aria-expanded="true"] .close {
    display:inline-block;
  }
  #nav-toggle[aria-expanded="true"] .open {
    display:none;
  }