<!-- ==================================================================================================================  -->
<!--                         ____              _  _____                                                                  -->
<!--                        / ___| _ __   ___ | ||_   _| __ ___  _   _ _ __                                              -->
<!--                        \___ \| '_ \ / _ \| __|| || '__/ _ \| | | | '_ \                                             -->
<!--                         ___) | |_) | (_) | |_ | || | | (_) | |_| | |_) |                                            -->
<!--                        |____/| .__/ \___/ \__||_||_|  \___/ \__,_| .__/                                             -->
<!--                              |_|                                 |_|                                                -->
<!--  create with figlet                                                                                                 -->
<!--                                                                                                                     -->
<!--  Name: template.html                                                                                                -->
<!--  Comments: Browser file in HTML as prerender file for Preact                                                        -->
<!--  Author: Tjark Ziehm                                                                                                -->
<!--  Version: 0.01                                                                                                      -->
<!--  Date: 25.Dez. 2020                                                                                                 -->
<!--  CoWorkers:                                                                                                         -->
<!-- ==================================================================================================================  -->

<!--
* Configuration for the App and User Props
* TODO: 
* 1. Add Logo @ the top top                  
* 2. Set 
* 3. Set 
* 4. Set 
* 5. Set 
* 6. Set
*/
-->

<!-- ==================================================================================================================  -->
<!-- Structure                                                                                                           -->
<!-- ==================================================================================================================  -->
<!--
/**
* Index
*/
-->
<!-- ==================================================================================================================  -->

<!DOCTYPE html>
<html lang="en">
  <!-- ==================================================================================================================  -->
  <!--                                                      Head                                                           -->
  <!-- ==================================================================================================================  -->
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title><% preact.title %></title>
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="assets/icons/apple-icon-57x57.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="assets/icons/apple-icon-60x60.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="assets/icons/apple-icon-72x72.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="assets/icons/apple-icon-76x76.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="114x114"
        href="assets/icons/apple-icon-114x114.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="120x120"
        href="assets/icons/apple-icon-120x120.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="144x144"
        href="assets/icons/apple-icon-144x144.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="152x152"
        href="assets/icons/apple-icon-152x152.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="assets/icons/apple-icon-180x180.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="assets/icons/android-icon-192x192.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="assets/icons/favicon-32x32.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="assets/icons/favicon-96x96.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="assets/icons/favicon-16x16.png"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta
        name="msapplication-TileImage"
        content="assets/icons/ms-icon-144x144.png"
      />
      <meta name="theme-color" content="#ffffff" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
      <link href="./style/index.css" rel="stylesheet" />
      <% preact.headEnd %>
    </head>

    <!-- ==================================================================================================================  -->
    <!--                                                      Body                                                           -->
    <!-- ==================================================================================================================  -->

    <body class="bg-grey-600 font-sans leading-normal tracking-normal">
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@3.0.6/css/line.css"
      />
     
     

      <footer class="bg-gray-800 ">
        <div class="max-w-6xl m-auto rounded-2xl text-gray-800 flex flex-wrap justify-left">
          <!-- Col-1 -->
          <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
              Vision & Mission
            </div>

            <!-- Links -->
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Installation
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Release Notes
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Upgrade Guide
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Using with Preprocessors
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Optimizing for Production
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Browser Support
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              IntelliSense
            </a>
          </div>

          <!-- Col-2 -->
          <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
              Core Concepts
            </div>

            <!-- Links -->
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Service as a Service
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Responsive Design
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Hover, Focus, & Other States
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Dark Mode
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Adding Base Styles
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Extracting Components
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Adding New Utilities
            </a>
          </div>

          <!-- Col-3 -->
          <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
              Production
            </div>

            <!-- Links -->
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Configuration
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Theme Configuration
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Breakpoints
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Customizing Colors
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Customizing Spacing
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Configuring Variants
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Plugins
            </a>
          </div>

          <!-- Col-3 -->
          <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
              Community
            </div>

            <!-- Links -->
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              GitHub
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Discord
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              Twitter
            </a>
            <a
              href="#"
              class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >
              YouTube
            </a>
          </div>
        </div>

        <!-- Copyright Bar -->
        <div class="pt-2">
          <div
            class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 text-sm flex-col md:flex-row max-w-6xl"
          >
            <div class="mt-2">© Copyright 2020-2021. All Rights Reserved.</div>

            <!-- Required Unicons (if you want) -->
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
              <a href="#" class="w-6 mx-1">
                <i class="uil uil-facebook-f"></i>
              </a>
              <a href="#" class="w-6 mx-1">
                <i class="uil uil-twitter-alt"></i>
              </a>
              <a href="#" class="w-6 mx-1">
                <i class="uil uil-youtube"></i>
              </a>
              <a href="#" class="w-6 mx-1">
                <i class="uil uil-linkedin"></i>
              </a>
              <a href="#" class="w-6 mx-1">
                <i class="uil uil-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </footer>
      <!-- ==================================================================================================================  -->
      <!--                                                      Script-Import                                                  -->
      <!-- ==================================================================================================================  -->
      <script>
        //Javascript to toggle the menu

      </script>
      <% preact.bodyEnd %>
    </body>
  </html>
</html>
