<!-- ==================================================================================================================  -->
<!--                         ____              _  _____                                                                  -->
<!--                        / ___| _ __   ___ | ||_   _| __ ___  _   _ _ __                                              -->
<!--                        \___ \| '_ \ / _ \| __|| || '__/ _ \| | | | '_ \                                             -->
<!--                         ___) | |_) | (_) | |_ | || | | (_) | |_| | |_) |                                            -->
<!--                        |____/| .__/ \___/ \__||_||_|  \___/ \__,_| .__/                                             -->
<!--                              |_|                                 |_|                                                -->
<!--  create with figlet                                                                                                 -->
<!--                                                                                                                     -->
<!--  Name: template.html                                                                                                -->
<!--  Comments: Browser file in HTML as prerender file for Preact                                                        -->
<!--  Author: Tjark Ziehm                                                                                                -->
<!--  Version: 0.01                                                                                                      -->
<!--  Date: 25.Dez. 2020                                                                                                 -->
<!--  CoWorkers:                                                                                                         -->
<!-- ==================================================================================================================  -->

<!--
* Configuration for the App and User Props
* TODO: 
* 1. Add Logo @ the top top                  
* 2. Set 
* 3. Set 
* 4. Set 
* 5. Set 
* 6. Set
*/
-->

<!-- ==================================================================================================================  -->
<!-- Structure                                                                                                           -->
<!-- ==================================================================================================================  -->
<!--
/**
* Index
*/
-->
<!-- ==================================================================================================================  -->

<!DOCTYPE html>
<html lang="en">
  <!-- ==================================================================================================================  -->
  <!--                                                      Head                                                           -->
  <!-- ==================================================================================================================  -->
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title><% preact.title %></title>
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="assets/icons/apple-icon-57x57.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="assets/icons/apple-icon-60x60.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="assets/icons/apple-icon-72x72.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="assets/icons/apple-icon-76x76.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="114x114"
        href="assets/icons/apple-icon-114x114.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="120x120"
        href="assets/icons/apple-icon-120x120.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="144x144"
        href="assets/icons/apple-icon-144x144.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="152x152"
        href="assets/icons/apple-icon-152x152.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="assets/icons/apple-icon-180x180.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="assets/icons/android-icon-192x192.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="assets/icons/favicon-32x32.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="assets/icons/favicon-96x96.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="assets/icons/favicon-16x16.png"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta
        name="msapplication-TileImage"
        content="assets/icons/ms-icon-144x144.png"
      />
      <meta name="theme-color" content="#ffffff" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
      <% preact.headEnd %>
	</head>
	
<!-- ==================================================================================================================  -->
<!--                                                      Body                                                           -->
<!-- ==================================================================================================================  -->

    <body>



<!-- ==================================================================================================================  -->
<!--                                                      Script-Import                                                  -->
<!-- ==================================================================================================================  -->



      <% preact.bodyEnd %>
    </body>
  </html>
</html>
